/*=============================================== Styles ===============================================*/

/*====================== Overrides ======================*/

/*
    Add all variables overrides here
*/

:root {
    --color-black: #181818;
    --color-light-gray-800: #2f2f2f;
    --color-light-gray-500: #767676;
    --color-light-gray-300: #c8c8c8;
    --color-light-gray-50: #f8f8f8;
    --color-white: #ffffff;

    --color-light-primary-500: #142f43;
    --color-light-primary-300: #26587e;
    --color-light-secondary-500: #ffab4c;
    --color-light-secondary-300: #ffcf99;
    --color-light-success-500: #23ce6b;
    --color-light-success-300: #59e393;
    --color-light-danger-500: #ff0000;
    --color-light-danger-300: #ff4c4d;
    --color-light-danger-50: #ffe5e6;
}